<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>O</key>
		<integer>-48</integer>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-53</integer>
		<key>U</key>
		<integer>-68</integer>
		<key>Uacute</key>
		<integer>-35</integer>
		<key>Ucircumflex</key>
		<integer>-35</integer>
		<key>Ugrave</key>
		<integer>-35</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-10</integer>
		<key>Odieresis</key>
		<integer>-10</integer>
		<key>Otilde</key>
		<integer>-10</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>O</key>
		<integer>-48</integer>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-53</integer>
		<key>U</key>
		<integer>-68</integer>
		<key>Uacute</key>
		<integer>-35</integer>
		<key>Ucircumflex</key>
		<integer>-35</integer>
		<key>Ugrave</key>
		<integer>-35</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>O</key>
		<integer>-48</integer>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-53</integer>
		<key>U</key>
		<integer>-68</integer>
		<key>Uacute</key>
		<integer>-35</integer>
		<key>Ucircumflex</key>
		<integer>-35</integer>
		<key>Ugrave</key>
		<integer>-35</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>O</key>
		<integer>-48</integer>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-53</integer>
		<key>U</key>
		<integer>-68</integer>
		<key>Uacute</key>
		<integer>-35</integer>
		<key>Ucircumflex</key>
		<integer>-35</integer>
		<key>Ugrave</key>
		<integer>-35</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>O</key>
		<integer>-48</integer>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-53</integer>
		<key>U</key>
		<integer>-68</integer>
		<key>Uacute</key>
		<integer>-35</integer>
		<key>Ucircumflex</key>
		<integer>-35</integer>
		<key>Ugrave</key>
		<integer>-35</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>O</key>
		<integer>-48</integer>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-53</integer>
		<key>U</key>
		<integer>-68</integer>
		<key>Uacute</key>
		<integer>-35</integer>
		<key>Ucircumflex</key>
		<integer>-35</integer>
		<key>Ugrave</key>
		<integer>-35</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>O</key>
		<integer>-48</integer>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-53</integer>
		<key>U</key>
		<integer>-68</integer>
		<key>Uacute</key>
		<integer>-35</integer>
		<key>Ucircumflex</key>
		<integer>-35</integer>
		<key>Ugrave</key>
		<integer>-35</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-10</integer>
		<key>Odieresis</key>
		<integer>-10</integer>
		<key>Otilde</key>
		<integer>-10</integer>
	</dict>
	<key>Eacute</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-10</integer>
		<key>Odieresis</key>
		<integer>-10</integer>
		<key>Otilde</key>
		<integer>-10</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-10</integer>
		<key>Odieresis</key>
		<integer>-10</integer>
		<key>Otilde</key>
		<integer>-10</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-10</integer>
		<key>Odieresis</key>
		<integer>-10</integer>
		<key>Otilde</key>
		<integer>-10</integer>
	</dict>
	<key>Egrave</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-10</integer>
		<key>Odieresis</key>
		<integer>-10</integer>
		<key>Otilde</key>
		<integer>-10</integer>
	</dict>
	<key>Eth</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-20</integer>
		<key>Odieresis</key>
		<integer>-20</integer>
		<key>Otilde</key>
		<integer>-20</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>ocircumflex</key>
		<integer>-23</integer>
	</dict>
	<key>Iacute</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>ocircumflex</key>
		<integer>-23</integer>
	</dict>
	<key>Icircumflex</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>ocircumflex</key>
		<integer>-23</integer>
	</dict>
	<key>Idieresis</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>ocircumflex</key>
		<integer>-23</integer>
	</dict>
	<key>Igrave</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-35</integer>
		<key>Odieresis</key>
		<integer>-35</integer>
		<key>Otilde</key>
		<integer>-35</integer>
		<key>ocircumflex</key>
		<integer>-23</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-50</integer>
		<key>Odieresis</key>
		<integer>-50</integer>
		<key>Otilde</key>
		<integer>-50</integer>
		<key>Q</key>
		<integer>-50</integer>
		<key>ocircumflex</key>
		<integer>-73</integer>
		<key>oslash</key>
		<integer>-33</integer>
		<key>q</key>
		<integer>-33</integer>
		<key>u</key>
		<integer>-33</integer>
		<key>ucircumflex</key>
		<integer>-20</integer>
		<key>yacute</key>
		<integer>-73</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>O</key>
		<integer>-43</integer>
		<key>Oacute</key>
		<integer>-18</integer>
		<key>Ocircumflex</key>
		<integer>-25</integer>
		<key>Odieresis</key>
		<integer>-25</integer>
		<key>Otilde</key>
		<integer>-25</integer>
		<key>Q</key>
		<integer>-58</integer>
		<key>U</key>
		<integer>-80</integer>
		<key>Uacute</key>
		<integer>-25</integer>
		<key>Ucircumflex</key>
		<integer>-25</integer>
		<key>Ugrave</key>
		<integer>-25</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>OE</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-10</integer>
		<key>Odieresis</key>
		<integer>-10</integer>
		<key>Otilde</key>
		<integer>-10</integer>
	</dict>
	<key>Oacute</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>Ograve</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>Oslash</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>Otilde</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>Iacute</key>
		<integer>-48</integer>
		<key>Idieresis</key>
		<integer>-48</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>Iacute</key>
		<integer>-35</integer>
		<key>Idieresis</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-10</integer>
		<key>Odieresis</key>
		<integer>-10</integer>
		<key>Otilde</key>
		<integer>-10</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>Iacute</key>
		<integer>-20</integer>
		<key>Idieresis</key>
		<integer>-20</integer>
	</dict>
	<key>Scaron</key>
	<dict>
		<key>Iacute</key>
		<integer>-20</integer>
		<key>Idieresis</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-20</integer>
		<key>Odieresis</key>
		<integer>-20</integer>
		<key>Otilde</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-53</integer>
		<key>o</key>
		<integer>-48</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-20</integer>
		<key>Odieresis</key>
		<integer>-20</integer>
		<key>Otilde</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-53</integer>
		<key>o</key>
		<integer>-48</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-50</integer>
		<key>Odieresis</key>
		<integer>-50</integer>
		<key>Otilde</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-85</integer>
		<key>ae</key>
		<integer>-58</integer>
		<key>o</key>
		<integer>-85</integer>
		<key>oslash</key>
		<integer>-73</integer>
		<key>q</key>
		<integer>-73</integer>
		<key>ucircumflex</key>
		<integer>-33</integer>
		<key>udieresis</key>
		<integer>-58</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-50</integer>
		<key>Odieresis</key>
		<integer>-50</integer>
		<key>Otilde</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-85</integer>
		<key>ae</key>
		<integer>-58</integer>
		<key>o</key>
		<integer>-85</integer>
		<key>oslash</key>
		<integer>-73</integer>
		<key>q</key>
		<integer>-73</integer>
		<key>ucircumflex</key>
		<integer>-33</integer>
		<key>udieresis</key>
		<integer>-58</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-50</integer>
		<key>Odieresis</key>
		<integer>-50</integer>
		<key>Otilde</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-85</integer>
		<key>ae</key>
		<integer>-58</integer>
		<key>o</key>
		<integer>-85</integer>
		<key>oslash</key>
		<integer>-73</integer>
		<key>q</key>
		<integer>-73</integer>
		<key>ucircumflex</key>
		<integer>-33</integer>
		<key>udieresis</key>
		<integer>-58</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-15</integer>
		<key>Odieresis</key>
		<integer>-15</integer>
		<key>Otilde</key>
		<integer>-15</integer>
	</dict>
	<key>Zcaron</key>
	<dict>
		<key>Ocircumflex</key>
		<integer>-15</integer>
		<key>Odieresis</key>
		<integer>-15</integer>
		<key>Otilde</key>
		<integer>-15</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<integer>-23</integer>
		<key>o</key>
		<integer>-23</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>o</key>
		<integer>-15</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-15</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-15</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-15</integer>
	</dict>
	<key>yacute</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-15</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-15</integer>
	</dict>
</dict>
</plist>
