<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>AE</key>
    <dict>
      <idieresis>36</idieresis>
      <icircumflex>41</icircumflex>
    </dict>
    <key>B</key>
    <dict>
      <parenright>-12</parenright>
      <bracketright>-10</bracketright>
      <braceright>-11</braceright>
      <slash>-27</slash>
      <x>-13</x>
      <idieresis>10</idieresis>
      <icircumflex>28</icircumflex>
      <X>-20</X>
      <W>-10</W>
      <V>-13</V>
      <T>-11</T>
      <AE>-13</AE>
    </dict>
    <key>C</key>
    <dict>
      <icircumflex>12</icircumflex>
    </dict>
    <key>Ccedilla</key>
    <dict>
      <icircumflex>12</icircumflex>
    </dict>
    <key>E</key>
    <dict>
      <idieresis>36</idieresis>
      <icircumflex>41</icircumflex>
    </dict>
    <key>Eacute</key>
    <dict>
      <idieresis>36</idieresis>
      <icircumflex>41</icircumflex>
    </dict>
    <key>Ecircumflex</key>
    <dict>
      <idieresis>36</idieresis>
      <icircumflex>41</icircumflex>
    </dict>
    <key>Edieresis</key>
    <dict>
      <idieresis>36</idieresis>
      <icircumflex>41</icircumflex>
    </dict>
    <key>Egrave</key>
    <dict>
      <idieresis>36</idieresis>
      <icircumflex>41</icircumflex>
    </dict>
    <key>F</key>
    <dict>
      <slash>-54</slash>
      <backslash>7</backslash>
      <x>-11</x>
      <idieresis>53</idieresis>
      <icircumflex>59</icircumflex>
      <dotlessi>-10</dotlessi>
      <ae>-15</ae>
      <J>-41</J>
      <AE>-59</AE>
    </dict>
    <key>G</key>
    <dict>
      <trademark>-8</trademark>
      <slash>-10</slash>
      <backslash>-14</backslash>
      <W>-15</W>
      <V>-20</V>
      <T>-14</T>
    </dict>
    <key>H</key>
    <dict>
      <idieresis>7</idieresis>
      <icircumflex>24</icircumflex>
    </dict>
    <key>I</key>
    <dict>
      <idieresis>27</idieresis>
      <icircumflex>46</icircumflex>
    </dict>
    <key>Iacute</key>
    <dict>
      <idieresis>27</idieresis>
      <icircumflex>46</icircumflex>
    </dict>
    <key>Icircumflex</key>
    <dict>
      <idieresis>27</idieresis>
      <icircumflex>46</icircumflex>
    </dict>
    <key>Idieresis</key>
    <dict>
      <idieresis>27</idieresis>
      <icircumflex>46</icircumflex>
    </dict>
    <key>Igrave</key>
    <dict>
      <idieresis>27</idieresis>
      <icircumflex>46</icircumflex>
    </dict>
    <key>J</key>
    <dict>
      <slash>-31</slash>
      <idieresis>11</idieresis>
      <icircumflex>29</icircumflex>
      <AE>-20</AE>
    </dict>
    <key>K</key>
    <dict>
      <trademark>18</trademark>
      <registered>-13</registered>
      <ampersand>-20</ampersand>
      <bar>9</bar>
      <parenright>15</parenright>
      <bracketright>11</bracketright>
      <braceright>12</braceright>
      <backslash>22</backslash>
      <w>-28</w>
      <v>-31</v>
      <t>-17</t>
      <germandbls>-24</germandbls>
      <igrave>11</igrave>
      <idieresis>67</idieresis>
      <g>-22</g>
      <ae>-9</ae>
      <J>-15</J>
    </dict>
    <key>Lslash</key>
    <dict>
      <X>7</X>
      <AE>4</AE>
    </dict>
    <key>M</key>
    <dict>
      <idieresis>7</idieresis>
      <icircumflex>24</icircumflex>
    </dict>
    <key>N</key>
    <dict>
      <idieresis>7</idieresis>
      <icircumflex>24</icircumflex>
    </dict>
    <key>Ntilde</key>
    <dict>
      <idieresis>7</idieresis>
      <icircumflex>24</icircumflex>
    </dict>
    <key>OE</key>
    <dict>
      <idieresis>36</idieresis>
      <icircumflex>41</icircumflex>
    </dict>
    <key>P</key>
    <dict>
      <parenright>-11</parenright>
      <slash>-63</slash>
      <asterisk>19</asterisk>
      <idieresis>24</idieresis>
      <icircumflex>43</icircumflex>
      <ae>-5</ae>
      <X>-38</X>
      <V>-5</V>
      <J>-52</J>
      <AE>-66</AE>
    </dict>
    <key>Thorn</key>
    <dict>
      <trademark>-15</trademark>
      <parenright>-16</parenright>
      <bracketright>-15</bracketright>
      <braceright>-15</braceright>
      <slash>-44</slash>
      <backslash>-18</backslash>
      <x>-14</x>
      <X>-52</X>
      <W>-14</W>
      <V>-19</V>
      <T>-19</T>
      <AE>-46</AE>
    </dict>
    <key>Q</key>
    <dict>
      <j>62</j>
    </dict>
    <key>R</key>
    <dict>
      <ampersand>-5</ampersand>
      <backslash>-10</backslash>
      <t>-5</t>
      <icircumflex>20</icircumflex>
      <g>-5</g>
      <W>-13</W>
      <V>-16</V>
      <T>-10</T>
    </dict>
    <key>S</key>
    <dict>
      <icircumflex>22</icircumflex>
    </dict>
    <key>Scaron</key>
    <dict>
      <icircumflex>22</icircumflex>
    </dict>
    <key>T</key>
    <dict>
      <at>-14</at>
      <slash>-64</slash>
      <asterisk>5</asterisk>
      <x>-27</x>
      <idieresis>49</idieresis>
      <icircumflex>67</icircumflex>
      <iacute>-11</iacute>
      <dotlessi>-11</dotlessi>
      <g>-36</g>
      <ae>-48</ae>
      <J>-56</J>
      <AE>-58</AE>
    </dict>
    <key>U</key>
    <dict>
      <idieresis>12</idieresis>
      <icircumflex>30</icircumflex>
    </dict>
    <key>Uacute</key>
    <dict>
      <idieresis>12</idieresis>
      <icircumflex>30</icircumflex>
    </dict>
    <key>Ucircumflex</key>
    <dict>
      <idieresis>12</idieresis>
      <icircumflex>30</icircumflex>
    </dict>
    <key>Udieresis</key>
    <dict>
      <idieresis>12</idieresis>
      <icircumflex>30</icircumflex>
    </dict>
    <key>Ugrave</key>
    <dict>
      <idieresis>12</idieresis>
      <icircumflex>30</icircumflex>
    </dict>
    <key>V</key>
    <dict>
      <trademark>22</trademark>
      <registered>-12</registered>
      <ampersand>-13</ampersand>
      <at>-18</at>
      <bar>7</bar>
      <parenright>14</parenright>
      <bracketright>9</bracketright>
      <braceright>12</braceright>
      <slash>-68</slash>
      <backslash>27</backslash>
      <x>-8</x>
      <igrave>10</igrave>
      <idieresis>65</idieresis>
      <icircumflex>52</icircumflex>
      <dotlessi>-25</dotlessi>
      <g>-30</g>
      <ae>-41</ae>
      <J>-54</J>
      <AE>-68</AE>
    </dict>
    <key>W</key>
    <dict>
      <trademark>19</trademark>
      <ampersand>-11</ampersand>
      <at>-12</at>
      <parenright>12</parenright>
      <bracketright>5</bracketright>
      <braceright>8</braceright>
      <slash>-58</slash>
      <backslash>23</backslash>
      <x>-7</x>
      <igrave>8</igrave>
      <idieresis>63</idieresis>
      <icircumflex>53</icircumflex>
      <iacute>-7</iacute>
      <dotlessi>-21</dotlessi>
      <g>-24</g>
      <ae>-34</ae>
      <J>-45</J>
      <AE>-63</AE>
    </dict>
    <key>X</key>
    <dict>
      <trademark>12</trademark>
      <registered>-13</registered>
      <ampersand>-19</ampersand>
      <parenright>9</parenright>
      <backslash>16</backslash>
      <w>-26</w>
      <v>-26</v>
      <t>-16</t>
      <germandbls>-23</germandbls>
      <idieresis>59</idieresis>
      <icircumflex>13</icircumflex>
      <g>-22</g>
      <ae>-7</ae>
      <J>-14</J>
    </dict>
    <key>Y</key>
    <dict>
      <zcaron>-38</zcaron>
      <germandbls>-29</germandbls>
      <ntilde>-40</ntilde>
      <igrave>15</igrave>
      <idieresis>70</idieresis>
      <icircumflex>31</icircumflex>
      <iacute>-16</iacute>
      <dotlessi>-47</dotlessi>
    </dict>
    <key>Yacute</key>
    <dict>
      <zcaron>-38</zcaron>
      <germandbls>-29</germandbls>
      <ntilde>-40</ntilde>
      <igrave>15</igrave>
      <idieresis>70</idieresis>
      <icircumflex>31</icircumflex>
      <iacute>-16</iacute>
      <dotlessi>-47</dotlessi>
    </dict>
    <key>Ydieresis</key>
    <dict>
      <zcaron>-38</zcaron>
      <germandbls>-29</germandbls>
      <ntilde>-40</ntilde>
      <igrave>15</igrave>
      <idieresis>70</idieresis>
      <icircumflex>31</icircumflex>
      <iacute>-16</iacute>
      <dotlessi>-47</dotlessi>
    </dict>
    <key>Z</key>
    <dict>
      <idieresis>32</idieresis>
      <icircumflex>23</icircumflex>
    </dict>
    <key>Zcaron</key>
    <dict>
      <idieresis>32</idieresis>
      <icircumflex>23</icircumflex>
    </dict>
    <key>d</key>
    <dict>
      <ampersand>-5</ampersand>
      <backslash>-15</backslash>
      <w>-16</w>
      <v>-19</v>
      <t>-12</t>
      <g>-6</g>
      <W>-24</W>
      <V>-26</V>
      <T>-28</T>
    </dict>
    <key>eth</key>
    <dict>
      <trademark>-23</trademark>
      <bar>-11</bar>
      <parenright>-21</parenright>
      <bracketright>-19</bracketright>
      <braceright>-20</braceright>
      <slash>-32</slash>
      <backslash>-33</backslash>
      <x>-19</x>
      <w>-6</w>
      <v>-9</v>
      <X>-27</X>
      <W>-30</W>
      <V>-39</V>
      <T>-33</T>
      <AE>-17</AE>
    </dict>
    <key>f</key>
    <dict>
      <slash>-32</slash>
      <asterisk>16</asterisk>
      <idieresis>38</idieresis>
      <icircumflex>37</icircumflex>
      <X>5</X>
      <W>14</W>
      <V>16</V>
      <J>-33</J>
      <AE>-48</AE>
    </dict>
    <key>g</key>
    <dict>
      <trademark>-15</trademark>
      <backslash>-20</backslash>
      <j>24</j>
      <W>-20</W>
      <V>-26</V>
      <T>-34</T>
    </dict>
    <key>i</key>
    <dict>
      <icircumflex>14</icircumflex>
    </dict>
    <key>dotlessi</key>
    <dict>
      <icircumflex>14</icircumflex>
    </dict>
    <key>iacute</key>
    <dict>
      <icircumflex>14</icircumflex>
    </dict>
    <key>icircumflex</key>
    <dict>
      <trademark>43</trademark>
      <ampersand>16</ampersand>
      <bar>35</bar>
      <quoteright>41</quoteright>
      <quoteleft>13</quoteleft>
      <quotedblright>41</quotedblright>
      <quotedblleft>38</quotedblleft>
      <parenright>10</parenright>
      <bracketright>25</bracketright>
      <braceright>13</braceright>
      <quotesingle>39</quotesingle>
      <quotedbl>39</quotedbl>
      <question>32</question>
      <exclam>28</exclam>
      <asterisk>45</asterisk>
      <thorn>13</thorn>
      <lslash>13</lslash>
      <l>13</l>
      <k>13</k>
      <j>10</j>
      <igrave>10</igrave>
      <idieresis>10</idieresis>
      <icircumflex>10</icircumflex>
      <iacute>10</iacute>
      <dotlessi>10</dotlessi>
      <i>10</i>
      <h>13</h>
      <b>13</b>
    </dict>
    <key>idieresis</key>
    <dict>
      <trademark>45</trademark>
      <bar>42</bar>
      <quoteright>28</quoteright>
      <quotedblright>28</quotedblright>
      <quotedblleft>25</quotedblleft>
      <parenright>46</parenright>
      <bracketright>39</bracketright>
      <braceright>42</braceright>
      <quotesingle>26</quotesingle>
      <quotedbl>26</quotedbl>
      <question>18</question>
      <exclam>30</exclam>
      <backslash>50</backslash>
      <asterisk>31</asterisk>
      <icircumflex>14</icircumflex>
    </dict>
    <key>igrave</key>
    <dict>
      <icircumflex>14</icircumflex>
    </dict>
    <key>j</key>
    <dict>
      <j>39</j>
      <icircumflex>14</icircumflex>
    </dict>
    <key>k</key>
    <dict>
      <trademark>-14</trademark>
      <ampersand>-12</ampersand>
      <asterisk>18</asterisk>
      <g>-15</g>
      <ae>-15</ae>
      <T>-26</T>
      <J>-19</J>
    </dict>
    <key>l</key>
    <dict>
      <icircumflex>19</icircumflex>
    </dict>
    <key>lslash</key>
    <dict>
      <asterisk>14</asterisk>
      <ydieresis>14</ydieresis>
      <yacute>14</yacute>
      <y>14</y>
      <w>8</w>
      <v>13</v>
      <icircumflex>19</icircumflex>
    </dict>
    <key>q</key>
    <dict>
      <trademark>-18</trademark>
      <backslash>-23</backslash>
      <j>42</j>
      <W>-22</W>
      <V>-28</V>
      <T>-36</T>
    </dict>
    <key>r</key>
    <dict>
      <trademark>-16</trademark>
      <parenright>-19</parenright>
      <bracketright>-19</bracketright>
      <braceright>-18</braceright>
      <slash>-53</slash>
      <backslash>-22</backslash>
      <x>-16</x>
      <X>-53</X>
      <W>-13</W>
      <V>-17</V>
      <T>-42</T>
      <J>-44</J>
      <AE>-58</AE>
    </dict>
    <key>germandbls</key>
    <dict>
      <parenright>-11</parenright>
      <slash>-28</slash>
      <x>-15</x>
      <v>-4</v>
      <t>-6</t>
      <icircumflex>15</icircumflex>
      <X>-13</X>
      <W>-9</W>
      <V>-12</V>
      <T>-5</T>
      <AE>-13</AE>
    </dict>
    <key>t</key>
    <dict>
      <trademark>-13</trademark>
      <bracketright>-12</bracketright>
      <slash>-10</slash>
      <backslash>-13</backslash>
      <asterisk>6</asterisk>
      <V>-8</V>
      <T>-32</T>
    </dict>
    <key>v</key>
    <dict>
      <trademark>-10</trademark>
      <parenright>-11</parenright>
      <bracketright>-17</bracketright>
      <braceright>-15</braceright>
      <slash>-49</slash>
      <asterisk>20</asterisk>
      <ae>-6</ae>
      <X>-31</X>
      <T>-29</T>
      <J>-23</J>
      <AE>-44</AE>
    </dict>
    <key>w</key>
    <dict>
      <trademark>-10</trademark>
      <parenright>-11</parenright>
      <bracketright>-16</bracketright>
      <braceright>-14</braceright>
      <slash>-44</slash>
      <asterisk>18</asterisk>
      <ae>-5</ae>
      <X>-29</X>
      <T>-27</T>
      <J>-17</J>
      <AE>-40</AE>
    </dict>
    <key>x</key>
    <dict>
      <trademark>-13</trademark>
      <ampersand>-10</ampersand>
      <bracketright>-10</bracketright>
      <backslash>-10</backslash>
      <asterisk>13</asterisk>
      <g>-13</g>
      <ae>-11</ae>
      <V>-7</V>
      <T>-26</T>
      <J>-15</J>
    </dict>
    <key>fi</key>
    <dict>
      <icircumflex>15</icircumflex>
    </dict>
    <key>fl</key>
    <dict>
      <icircumflex>19</icircumflex>
    </dict>
    <key>asterisk</key>
    <dict>
      <x>11</x>
      <w>20</w>
      <v>22</v>
      <t>6</t>
      <idieresis>36</idieresis>
      <icircumflex>54</icircumflex>
      <T>5</T>
      <J>-29</J>
      <AE>-53</AE>
    </dict>
    <key>backslash</key>
    <dict>
      <w>-53</w>
      <v>-58</v>
      <t>-46</t>
      <germandbls>1</germandbls>
      <j>75</j>
      <b>-21</b>
      <ae>-30</ae>
      <W>-66</W>
      <V>-76</V>
      <T>-72</T>
      <J>-26</J>
    </dict>
    <key>comma</key>
    <dict>
      <j>23</j>
    </dict>
    <key>exclamdown</key>
    <dict>
      <germandbls>1</germandbls>
      <j>62</j>
      <W>-14</W>
      <V>-21</V>
      <T>-12</T>
    </dict>
    <key>period</key>
    <dict>
      <j>23</j>
    </dict>
    <key>questiondown</key>
    <dict>
      <x>12</x>
      <w>-26</w>
      <v>-31</v>
      <t>-22</t>
      <germandbls>1</germandbls>
      <j>54</j>
      <X>24</X>
      <W>-42</W>
      <V>-51</V>
      <T>-46</T>
      <AE>21</AE>
    </dict>
    <key>quotedbl</key>
    <dict>
      <slash>-72</slash>
      <idieresis>25</idieresis>
      <icircumflex>43</icircumflex>
      <J>-68</J>
      <AE>-63</AE>
    </dict>
    <key>quotesingle</key>
    <dict>
      <idieresis>25</idieresis>
      <icircumflex>43</icircumflex>
    </dict>
    <key>semicolon</key>
    <dict>
      <j>12</j>
    </dict>
    <key>slash</key>
    <dict>
      <slash>-247</slash>
      <idieresis>44</idieresis>
      <icircumflex>16</icircumflex>
      <g>-24</g>
      <ae>-28</ae>
      <W>16</W>
      <V>18</V>
      <J>-41</J>
      <AE>-66</AE>
    </dict>
    <key>braceleft</key>
    <dict>
      <parenleft>-14</parenleft>
      <braceleft>-14</braceleft>
      <w>-13</w>
      <v>-14</v>
      <germandbls>1</germandbls>
      <j>71</j>
      <idieresis>41</idieresis>
      <icircumflex>21</icircumflex>
      <ae>-18</ae>
      <W>11</W>
      <V>13</V>
      <J>-16</J>
      <AE>-15</AE>
    </dict>
    <key>braceright</key>
    <dict>
      <parenright>-16</parenright>
      <bracketright>-12</bracketright>
      <braceright>-13</braceright>
    </dict>
    <key>bracketleft</key>
    <dict>
      <parenleft>-14</parenleft>
      <braceleft>-12</braceleft>
      <x>-11</x>
      <w>-16</w>
      <v>-17</v>
      <germandbls>1</germandbls>
      <j>68</j>
      <idieresis>39</idieresis>
      <icircumflex>33</icircumflex>
      <ae>-19</ae>
      <W>7</W>
      <V>10</V>
      <J>-15</J>
      <AE>-21</AE>
    </dict>
    <key>parenleft</key>
    <dict>
      <parenleft>-15</parenleft>
      <braceleft>-16</braceleft>
      <germandbls>1</germandbls>
      <j>76</j>
      <idieresis>48</idieresis>
      <icircumflex>16</icircumflex>
      <ae>-19</ae>
      <X>7</X>
      <W>14</W>
      <V>16</V>
      <J>-16</J>
    </dict>
    <key>parenright</key>
    <dict>
      <parenright>-15</parenright>
      <bracketright>-13</bracketright>
      <braceright>-14</braceright>
    </dict>
    <key>quotedblbase</key>
    <dict>
      <j>23</j>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <idieresis>26</idieresis>
      <icircumflex>44</icircumflex>
    </dict>
    <key>quotedblright</key>
    <dict>
      <idieresis>25</idieresis>
      <icircumflex>43</icircumflex>
    </dict>
    <key>quoteright</key>
    <dict>
      <idieresis>25</idieresis>
      <icircumflex>43</icircumflex>
    </dict>
    <key>quotesinglbase</key>
    <dict>
      <j>23</j>
    </dict>
    <key>bar</key>
    <dict>
      <w>-16</w>
      <v>-18</v>
      <t>-13</t>
      <germandbls>1</germandbls>
      <j>67</j>
      <W>-23</W>
      <V>-30</V>
      <T>-24</T>
    </dict>
    <key>at</key>
    <dict>
      <V>-13</V>
      <AE>-19</AE>
    </dict>
    <key>ampersand</key>
    <dict>
      <x>-10</x>
      <X>-23</X>
      <W>-15</W>
      <V>-20</V>
      <T>-40</T>
      <Lslash>6</Lslash>
      <Eth>9</Eth>
      <AE>-15</AE>
    </dict>
    <key>registered</key>
    <dict>
      <X>-10</X>
      <W>-13</W>
      <V>-21</V>
      <T>-20</T>
      <AE>-22</AE>
    </dict>
    <key>trademark</key>
    <dict>
      <idieresis>33</idieresis>
      <icircumflex>51</icircumflex>
      <J>-16</J>
      <AE>-43</AE>
    </dict>
  </dict>
</plist>
